.invite {
    margin: 50px 0;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    color: var(--second-color);
}

.invite-called {
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.invite-title {
    width: 60%;
    margin: 20px 0;
}

.invite-button, .banner-button {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 900;
    background-color: var(--third-color);
    border: 2px solid black;
    color: #2229;
    border-radius: 5px;
    box-shadow: 6px 6px 19px 2px black;
    width: 60%;
    height: 60px;
}

.invite-button:hover, .banner-button:hover{
    color: #222;
}


.invite-p {
    flex-basis: 40%;
}

.invite-p p {
    margin: 15px 0;
    font-weight: lighter;
    font-family: var(--font-text);
}