.razone-init {
    width: 100%;
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    color: var(--second-color);
    text-shadow: 1px 1px 10px black;
}

.razone .h2 {
    font-family: var(--font-text);
    font-size: 27px;
}

.razone p {
    width: 50%;
    margin: 20px 0;
    font-size: 15px;
    color: #fff9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: center;
}

.muestra {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 50px;
}

.card {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--second-color);
    flex-basis: 28rem;
    font-size: 16px;
    text-align: center;
    backdrop-filter: blur(2px);
    gap: 10px;
}


.card .card-icon {
    width: 50%;
    height: 50%;
    object-fit: scale-down;
}

.card .card-icon img {
    width: 100%;
    height: 100%;
}

.card .card-number {
    color: rgb(245, 245, 147);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

.card-titulo--fix {
    color: white;
    text-transform: capitalize;
    font-size: 1.4em ;
    margin: 9px 0 ;
    font-family: var(--font-text);
}


.card .card-text {
    padding: 0 15px;
    font-family: var(--font-text);
    font-size: 13px;
    color: #fff9;
    font-weight: lighter;
}